     .button {
         border: solid 1px beige;
         border-radius: 5px;
         margin-top: 10px;
         padding: 5px 10px 5px 10px;
         background-color: brown;
         color: white;
         align-self: center;
         align-items: center;
         margin: 5px;

     }


     .inputStyle {
         font-size: medium;
         background-color: bisque;
         border: solid 1px brown;
         border-radius: 5px;
         margin-top: 4px;
         padding: 5px 8px 5px 8px;
         width: 100%;
         color: brown;
     }

     .inputStyle:focus {
         font-size: medium;
         background-color: brown;
         border: solid 1px bisque;
         border-radius: 5px;
         margin-top: 4px;
         width: 100%;
         padding: 5px 8px 5px 8px;
         color: #ffffff;
     }