* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header_class_div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-items: baseline;
}

.resumeCard {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding-right: 20px;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div_40_column {
    background-color: bisque;
    float: left;
    width: 30%;
    height: auto;
}

.div_40_column h1 {
    font-size: large;
    color: bisque;
    background-color: #a52a2a;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.div_40_column h2 {
    text-align: end;
    font-size: large;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    border-radius: 2px;
    align-items: end;
    justify-items: end;
}

.main {
    float: right;
    width: 65%;
    height: auto;
}

.main h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #a52a2a;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.horizontal_div {
    flex-direction: row;
    display: flex;
    align-items: baseline;
}

.horizontal_div_intro {
    flex-direction: row;
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-items: center;
}

.horizontal_div h1 {
    font-size: large;
    color: #a52a2a;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.horizontal_div h2 {
    font-size: medium;
    color: rgb(73, 72, 72);
    vertical-align: bottom;
}

.vertical_div {
    flex-direction: column;
    display: flex;
    align-items: baseline;
}

.vertical_div h1 {
    font-size: large;
    color: #a52a2a;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.vertical_div h2 {
    font-size: medium;
    color: rgb(73, 72, 72);
    vertical-align: bottom;
    padding-left: 10px;
}

.previous_company {
    margin: 10px;
}

.main ul {
    list-style-type: disc;
    size: 200px;
}

.main ul li {
    color: #a52a2a;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.main ul li::marker {
    font-size: 30px;
    align-items: center;
    vertical-align: middle;
}

.main ul li h2 {
    font-size: medium;
    color: rgb(73, 72, 72);
    vertical-align: bottom;
}